#contact {
    width: 100%;
    background: $orange;
    height: 573px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-content {
        @include container;

        h2 {
            @include headline-style;
        }
        
        h2 {
            color: white;
            margin-bottom: 50px;

        }

        p {
            color: white;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 27px;
        }

        form {
            display: flex;
            flex-direction: column;
            row-gap: 29.5px;
            width: 390px;
            height: 314px;
            background: white;
            border-radius: 5px;
            padding: 33px 65px;

            input[type="text"] {
                width: 260px;
                font-size: 12px;
                border: none;
                border-bottom: 1px hsla(0, 0%, 11%, 0.5) solid;
                padding-bottom: 4.5px;

                &::placeholder {
                    color: hsla(0, 0%, 11%, 0.5);
                }
            }

            input[type="number"] {
                width: 260px;
                font-size: 12px;
                border: none;
                border-bottom: 1px hsla(0, 0%, 11%, 0.5) solid;
                padding-bottom: 4.5px;

                &::placeholder {
                    color: hsla(0, 0%, 11%, 0.5);
                }
            }

            .radio-buttons {
                @include radio-buttons;
            }

            .button {
                width: 100%;
                display: flex;
                justify-content: center;
            
                input[type="submit"] {
                    border: none;
                    background: $green;
                    width: 158.12px;
                    height: 48px;
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    border-radius: 5px;

                }
            }

            
        }
    }
}