#features {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    align-items: center;

    .features-content {
        @include container;

        h2 {
            @include headline-style;
        }
        
        h2 {
            color: #212121;
            margin-bottom: 22px;
        }

        .divider {
            width: 64px;
            height: 2px;
            line-height: 43px;
            background: $orange;
            border-radius: 2px;
            margin-bottom: 27px;
            font-weight: 600;
        }

        p {
            color: $fontgrey;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }

        .benefits-container-overall {
            display: flex;
            flex-direction: row;
            margin-top: 65px;
            column-gap: 97px;

            .benefits-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 290px;

                .icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    border: 1px solid $orange;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 35px;

                    i {
                        color: $orange;
                        font-size: 1.3em;
                    }
                }

                h3 {
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 27px;
                    font-weight: 400;
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}