#features {
    width: 100%;
    height: 596px;
    background: $black;
    display: flex;
    justify-content: center;

    .about-container {
        width: 1400px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 148px;

        .logo {
            background: url(../images/cheshire-county-hygiene-services-bigger.png);
            background-size: cover;
            width: 388.58px;
            height: 169.47px;
        }

        .about-content {

            h2 {
                font-size: 30px;
                line-height: 43px;
                font-weight: 600;
                color: white;
                max-width: 314px;
                margin-bottom: 27px;
            }

            .divider {
                width: 200px;
                height: 2px;
                background: $orange;
                border-radius: 2px;
                margin-bottom: 24px;
                margin-bottom: 27px;
            }

            p {
                color: white;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 43px;
                max-width: 451px;
                
            }

            .features {
                display: flex;
                flex-direction: row;
                column-gap: 17px;

                .icon {
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                    background-color: $orange;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: white;
                        font-size: 1.4em;
                    }
                }

                h4 {
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                }

                p {
                    max-width: 400px;
                }
            }
        }
    }
}