#hero {
    width: 100%;
    height: 639px;
    background: url(../images/herosectionbigger-compressed.png);
    background-position: center 60%;
    background-size: 1500px;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $black 0% 0% no-repeat padding-box;
        opacity: 0.63;
    }

    .heroframe {
        width: 1400px;
        padding: 0 148px 41px 147px;
        height: 639px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .content {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            max-width: 651px;

            .image {
                background: url(../images/cheshire-county-hygiene-services-bigger.png);
                background-size: cover;
                width: 246.74px;
                height: 107.61px;
                margin-bottom: 22.63px;
            }

            h2 {
                color: white;
                font-size: 36px;
                line-height: 43.2px;
                font-weight: 600;
                max-width: 426px;
                margin-bottom: 21px;
            }

            .divider {
                width: 84px;
                height: 3px;
                background: white;
                border-radius: 2px;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                color: white;
                line-height: 23px;
                font-weight: 600;
                margin-bottom: 43px;
            }

            button {
                height: 42px;
                width: 135px;
                border: 2px solid white;
                background: none;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                transition: 0.3s ease-in-out;

                &:hover {
                    background: white;
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .form-container {
            width: 360px;
            height: 424.88px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 5px 20px #00000029;

            h3 {
                font-size: 20px;
                color: #333333;
                background: #F5F5F5;
                border-radius: 5px 5px 0px 0px;
                height: 57px;
                width: 360px;
                text-align: center;
                line-height: 57px;
                font-weight: 600;

                span {
                    color: $orange;
                }
            }

            .information {
                display: flex;
                flex-direction: column;
                background: white;
                height: 311px;
                padding-top: 30px;
                padding-left: 51px;

                h4 {
                    font-size: 16px;
                    color: $black;
                    font-weight: 600;
                    margin-bottom: 22px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 29.5px;
                    margin-bottom: 32.5px;

                    input[type="text"] {
                        width: 260px;
                        font-size: 12px;
                        border: none;
                        border-bottom: 1px #D8D8D8 solid;
                        padding-bottom: 4.5px;

                        &::placeholder {
                            color: #D8D8D8;
                        }
                    }

                    input[type="number"] {
                        width: 260px;
                        font-size: 12px;
                        border: none;
                        border-bottom: 1px #D8D8D8 solid;
                        padding-bottom: 4.5px;

                        &::placeholder {
                            color: #D8D8D8;
                        }
                    }
                    
                    .radio-buttons {
                        // margin-top: 17px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 17.07px;

                        div{
                            display: flex;
                            align-items: center;

                            label {
                                font-size: 9px;
                                font-weight: 700;
                                opacity: 50%;
                                text-transform: uppercase;
                                color: black;
                            }
    
                            input[type="radio"]{
                                appearance: none;
                                width: 12.71px;
                                height: 12.71px;
                                border-radius: 12.71px;
                                border: 1px solid $green;
                                margin-right: 5px;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 70%;
                                    height: 70%;
                                    background: $green;
                                    border-radius: 100%;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    margin: auto;
                                    transform: scale(0);
                                    transition: 0.3s;
                                }
                                
                                &:checked::before {
                                    transform: scale(1);
                                }

                                &:checked + label {
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }

            input[type="submit"] {
                border: none;
                background: $green;
                height: 148px;
                border-radius: 0px 0px 5px 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                color: white;
                transition: 0.3s ease-in-out;

                &:hover {
                    background: $orange;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        
        }
    }
}