#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 639px;
    background: url(../images/herosectionbigger-compressed.png);
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $black 0% 0% no-repeat padding-box;
        opacity: 0.63;
    }

    .heroframe {
        width: 1400px;
        padding: 0 148px;
        padding-bottom: 41px;
        height: 639px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .content {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            max-width: 651px;

            .image {
                background: url(../images/cheshire-county-hygiene-services-bigger.png);
                background-size: cover;
                width: 246.74px;
                height: 107.61px;
                margin-bottom: 22.63px;
            }

            h2 {
                color: white;
                font-size: 36px;
                line-height: 43.2px;
                font-weight: 600;
                max-width: 426px;
                margin-bottom: 21px;
            }

            .divider {
                width: 84px;
                height: 3px;
                background: white;
                border-radius: 2px;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                color: white;
                line-height: 23px;
                font-weight: 600;
                margin-bottom: 43px;
            }

            button {
                height: 42px;
                width: 135px;
                border: 2px solid white;
                background: none;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                transition: 0.3s ease-in-out;

                &:hover {
                    background: white;
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .form-container {
            width: 360px;
            height: 424.88px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 5px 20px #00000029;

            h3 {
                font-size: 20px;
                color: #333333;
                background: #F5F5F5;
                border-radius: 5px 5px 0px 0px;
                height: 57px;
                width: 360px;
                text-align: center;
                line-height: 57px;
                font-weight: 600;

                span {
                    color: $orange;
                }
            }

            .information {
                display: flex;
                flex-direction: column;
                background: white;
                height: 311px;
                padding-top: 30px;
                padding-left: 51px;

                h4 {
                    font-size: 16px;
                    color: $black;
                    font-weight: 600;
                    margin-bottom: 22px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 29.5px;
                    margin-bottom: 32.5px;

                    input[type="text"] {
                        width: 260px;
                        font-size: 12px;
                        border: none;
                        border-bottom: 1px #D8D8D8 solid;
                        padding-bottom: 4.5px;

                        &::placeholder {
                            color: #D8D8D8;
                        }
                    }

                    input[type="number"] {
                        width: 260px;
                        font-size: 12px;
                        border: none;
                        border-bottom: 1px #D8D8D8 solid;
                        padding-bottom: 4.5px;

                        &::placeholder {
                            color: #D8D8D8;
                        }
                    }
                    
                    .radio-buttons {
                        @include radio-buttons;
                    }
                }
            }

            input[type="submit"] {
                border: none;
                background: $green;
                height: 148px;
                border-radius: 0px 0px 5px 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                color: white;
                transition: 0.3s ease-in-out;

                &:hover {
                    background: $orange;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        
        }
    }
}