// NAVBAR

/* Tablet */
@media (min-width: 769px) and (max-width: 1200px) {

    nav .navbar {
        
        padding-left: 50px;
        padding-right: 50px;

        .links {
            position: absolute;
            left: 0;
            top: 72px;
            background: $black;
            width: 100%;
            height: 387px;
            line-height: 60px;
            align-items: center;
            flex-direction: column;
            transform: translateY(-500px);
            z-index: -1;

            &.translate {
                transform: translateY(0px);
                transition: 0.3s;
            }
        }

        .burger-lines {
            display: flex;
        }
    }
}

@media (max-width: 768px) {

    nav .navbar {
        
        padding-left: 50px;
        padding-right: 50px;

        .links {
            position: absolute;
            left: 0;
            top: 72px;
            background: $black;
            width: 100%;
            height: 387px;
            line-height: 60px;
            align-items: center;
            flex-direction: column;
            transform: translateY(-500px);
            z-index: -1;

            &.translate {
                transform: translateY(0px);
                transition: 0.3s;
            }
        }

        .burger-lines {
            display: flex;
        }
    }
}

// HERO SECTION

//Tablet

@media (min-width: 769px) and (max-width: 1200px) {
    #hero {

        height: 950px;

        .heroframe {
            flex-direction: column;
            row-gap: 43px;
            padding: 0;

            .content {
                align-items: start;
                max-width: none;
                align-items: center;
                text-align: center;

                .image {
                    display: none;
                }

                h2 {
                    margin-top: 40px;
                    max-width: 450px;
                    padding: 0px 15px;
                }

                p {
                    max-width: 700px;
                    padding: 0px 15px;
                }

                button {
                    width: 600px;
                }
            }

            .form-container {
                width: 600px;

                h3 {
                    width: 600px;
                }

                .information {
                    justify-content: center;
                    align-items: center;
                    padding-left: 0;
                }
            }
        }

}}

//Mobile

@media (max-width: 768px) {

    #hero {

        height: 1000px;

        .heroframe {
            flex-direction: column;
            row-gap: 43px;
            padding: 0;

            .content {
                align-items: start;
                max-width: none;
                align-items: center;
                text-align: center;

                .image {
                    display: none;
                }

                h2 {
                    margin-top: 40px;
                    min-width: 320px;
                    padding: 0px 15px;
                }

                p {
                    min-width: 320px;
                    padding: 0px 15px;
                }

                button {
                    width: 300px;
                }
            }

            .form-container {

                width: auto;

                h3 {
                    max-width: 320px;
                }

                .information {
                    max-width: 320px;
                    padding-left: 30px;
                }

                input[type="submit"] {
                    max-width: 320px;
                }
            }
        }

}}

//SOCIAL MEDIA

//Tablet

@media (min-width: 769px) and (max-width: 1200px) {

    #socials {

        height: auto;

        .social-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .aboutsocial {
                width: 100%;
                text-align: center;
                margin: 0;
                margin-top: 15px;
                margin-bottom: 30px;

                h3 {
                    text-align: center;
                    margin-bottom: 15px;
                }
            }

            .links {
                margin: 0;
                margin-bottom: 15px;
            }


        }

    }
}

//Mobile

@media (max-width: 768px) {
    #socials {

        height: auto;

        .social-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .aboutsocial {
                width: 100%;
                text-align: center;
                margin: 0;
                margin-top: 15px;
                margin-bottom: 30px;
                align-items: center;
                display: flex;
                flex-direction: column;

                h3 {
                    text-align: center;
                    margin-bottom: 15px;
                }

                p {
                    width: 80%;
                    padding: 0;
                }
            }

            .links {
                margin: 0;
                margin-bottom: 15px;
                flex-direction: row;
                width: auto;
                column-gap: 20px;
            }


        }

    }
}

//TABS 

@media (max-width: 1350px) {
    #tabs {
        .tabcontent {
            padding: 0 30px;
        }
    }
}

//Tablet

@media (min-width: 769px) and (max-width: 1200px) {

    #tabs {

        min-height: 700px;

        .tabcontent {
            flex-direction: column;
            row-gap: 30px;
            padding: 50px 40px;

            .buttons {
                flex-direction: row;
                column-gap: 20px;

            }

            .content-section {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .tabtext {
                    width: 100%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h2 {
                    width: 80%;
                }

                .paragraphs {
                    width: 100%;

                    p {
                        width: 100%;
                    }
                }

                .images {
                    margin-top: 33px;
                    flex-direction: row;
                    column-gap: 15px;

                    .smaller-images {
                        column-gap: 15px;
                    }

                    .bigger-image-container {
                        width: 168px;
                        height: 168px;
                    }
                }
            }
        }

    }

}

//Phone

@media (max-width: 768px) {

    #tabs {

        min-height: 1300px;

        .tabcontent {
            width: 100%;
            flex-direction: column;
            row-gap: 30px;
            padding: 50px 40px;

            .buttons {
                flex-direction: row;
                column-gap: 10px;

            }

            .content-section {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .tabtext {
                    width: 100%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-size: 27px;
                    }
                }

                .paragraphs {
                    width: 100%;

                    p {
                        width: 100%;
                    }
                }

                .images {
                    margin-top: 33px;
                    flex-direction: column;
                    row-gap: 15px;

                    .smaller-images {
                        row-gap: 15px;
                        flex-direction: column;

                        .smaller-image-container {
                            width: 400px;
                        }
                    }


                    .bigger-image-container {
                        width: 400px;
                        height: 168px;
                    }
                }
            }
        }

    }

}

@media (max-width: 480px) {
    
    #tabs {
        min-height: 1300px;

        .tabcontent {
            padding: 10px 10px;

            .buttons {
                flex-direction: row;
                column-gap: 15px;
                
                button {
                    width: 80px;
                    height: 80px;
                }

            }

            .content-section {

                .paragraphs {
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        width: 100%;
                    }

                    p {
                        width: 90%;
                    }
                }

            .images {

                .smaller-images {
                    row-gap: 15px;
                    flex-direction: column;

                    .smaller-image-container {
                        width: 168px;
                    }
                }

                .bigger-image-container {
                    width: 168px;
                    height: 168px;
                }
            }

            }
    }



}
}

//ABOUT

//Tablet

@media (min-width: 769px) and (max-width: 1200px) {
    #about {
        min-height: 400px;

        .about-container {
            flex-direction: column;
            padding: 0;
            align-items: center;
            justify-content: center;

            .about-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    text-align: center;
                }
            }

            .logo {
                display: none;
            }
        }
    }
}
//Phone 

@media (max-width: 768px) {
    #about {
        
        height: 670px;

        .about-container {
            flex-direction: column;
            padding: 0;
            align-items: center;
            justify-content: center;
            padding: 15px 15px;

            .about-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    text-align: center;
                }
            }

            .logo {
                display: none;
            }
        }
    }
}

//FEATURES

//Tablet

@media (min-width: 769px) and (max-width: 1200px) {
    #features {

        .features-content {

            .benefits-container-overall {
                column-gap: 20px;

                .benefits-container {

                    max-width: 200px;
                }
            }
        }
    }
}

//Mobile

@media (max-width: 768px) {
    #features {

        height: 1000px;

        .features-content {

            .benefits-container-overall {
                flex-direction: column;
                row-gap: 40px;

                .benefits-container {

                    max-width: 200px;
                }
            }
        }
    }
}

// PRICES

@media (min-width: 769px) and (max-width: 1200px) {
    #prices {

        .prices-content {

            .price-container-overall {

                column-gap: 15px;

                .price-container {
                    width: 240px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #prices {

        height: 1850px;

        .prices-content {

            .price-container-overall {

                row-gap: 15px;
                flex-direction: column;

                .price-container {
                    width: 300px;
                }
            }
        }
    }
}

//SWIPER {

    @media (max-width: 768px) {
        #swiper {

            .swiper-content {
                padding: 15px 15px;
            }
        }
    }


//CONTACT

@media (max-width: 768px) {

    #contact {

        height: 700px;

        .contact-content {
            padding: 15px 15px;

            form {
                padding: 40px 15px;
                width: 280px;
                justify-content: center;
                align-items: center;

                input[type="text"]{

                    width: 200px;
                }

                input[type="number"]{

                    width: 200px;
                }
            }
        }
    }

}

//FOOTER 

@media (min-width: 769px) and (max-width: 1200px) {

    #footer {

        .footer-content {

            flex-direction: column;
            row-gap: 30px;
            justify-content: center;
            align-items: center;
            padding: 15px 15px;
            width: 100%;
        }
    }

}

@media (max-width: 768px) {

    #footer {

        .footer-content {

            flex-direction: column;
            row-gap: 30px;
            justify-content: center;
            align-items: center;
            padding: 15px 15px;
            width: 100%;
        }
    }

}


