// Navbar

@media (max-width: 768px) {
    nav .navbar .links {
        display: none;
    }

    nav .navbar .image {
        margin-left: 10px;
    }

    nav .selected {
        display: flex;
    }
}