// Navbar

/* Tablet */
@media (min-width: 769px) and (max-width: 1000px) {

    nav .navbar {
        
        padding-left: 50px;
        padding-right: 50px;

        .links {
            position: absolute;
            left: 0;
            top: 72px;
            background: $black;
            width: 100%;
            height: 387px;
            line-height: 60px;
            align-items: center;
            flex-direction: column;
            transform: translateY(-500px);
            z-index: -1;

            &.translate {
                transform: translateY(0px);
                transition: 0.3s;
            }
        }

        .burger-lines {
            display: flex;
        }
    }
}

@media (max-width: 768px) {

    nav .navbar {
        
        padding-left: 50px;
        padding-right: 50px;

        .links {
            position: absolute;
            left: 0;
            top: 72px;
            background: $black;
            width: 100%;
            height: 387px;
            line-height: 60px;
            align-items: center;
            flex-direction: column;
            transform: translateY(-500px);
            z-index: -1;

            &.translate {
                transform: translateY(0px);
                transition: 0.3s;
            }
        }

        .burger-lines {
            display: flex;
        }
    }
}

//Hero section

//Tablet

@media (min-width: 769px) and (max-width: 1000px) {
    #hero {

        height: 950px;

        .heroframe {
            flex-direction: column;
            row-gap: 43px;
            padding: 0;

            .content {
                align-items: start;
                max-width: none;
                align-items: center;
                text-align: center;

                .image {
                    display: none;
                }

                h2 {
                    margin-top: 40px;
                    max-width: 450px;
                    padding: 0px 15px;
                }

                p {
                    max-width: 700px;
                    padding: 0px 15px;
                }

                button {
                    width: 600px;
                }
            }

            .form-container {
                width: 600px;

                h3 {
                    width: 600px;
                }

                .information {
                    justify-content: center;
                    align-items: center;
                    padding-left: 0;
                }
            }
        }

}}

//Mobile

@media (max-width: 768px) {

    #hero {

        height: 950px;

        .heroframe {
            flex-direction: column;
            row-gap: 43px;
            padding: 0;

            .content {
                align-items: start;
                max-width: none;
                align-items: center;
                text-align: center;

                .image {
                    display: none;
                }

                h2 {
                    margin-top: 40px;
                    min-width: 320px;
                    padding: 0px 15px;
                }

                p {
                    min-width: 320px;
                    padding: 0px 15px;
                }

                button {
                    width: 300px;
                }
            }

            .form-container {

                width: auto;

                h3 {
                    max-width: 320px;
                }

                .information {
                    max-width: 320px;
                    padding-left: 30px;
                }

                input[type="submit"] {
                    max-width: 320px;
                }
            }
        }

}}
