// Navbar

@media (max-width: 768px) {
    nav .navbar .links {
        display: none;
    }

    nav .navbar .image {
        margin-left: 20px;
    }

    nav .selected {
        display: flex;
        // flex-direction: column;
        // row-gap: 12px;
        // background-color: $black;
    }

    #mobile-navbar.open {
        display: flex;
    }
}