nav {
    width: 100%;
    background-color: $black;
    height: 72px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;

    // Desktop

    #desktop-navbar {
        z-index: 2;
    }

    .navbar {
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .image {
            background: url(../images/cheshire-county-hygiene-services.png);
            width: 119.37px;
            height: 52.06px;
            margin-left: 147.04px;
        }

        .links {
            margin-right: 148px;
            display: flex;
            flex-direction: row;
            column-gap: 35px;

            a {
                text-decoration: none;
                color: white;
                font-weight: regular;
                opacity: 69%;
                line-height: 72px;
                position: relative;
                overflow: hidden;
                display: inline-block;
                transition: 0.5s;

                &:hover {
                    opacity: 100%;
                    cursor: pointer;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0%;
                    left: -105%;
                    height: 2px;
                    width: 100%;
                    background: $orange;
                    transition: 0.5s;
                }

                &:hover::after {
                    left: 0%;
                }
            }
        }
    }

    //Mobile

        .selected {
            display: none;
            background: transparent;
            margin-right: 20px;
            border: none;
            height: 30px;
            width: 35px;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            .line {
                width: 35px;
                height: 3px;
                background-color: white;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
            }
        }

        .selected.open-menu {
            .line {
                &:nth-of-type(1) {
                    transform: rotate(45deg) translate(0, 100%);
                    top: -10px;
                    width: 35px;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: rotate(-45deg);
                }
            }
        }

        #mobile-navbar {
            display: none;
            position: absolute;
            height: 100vh;
            width: 50vw;
            top: 0;
            right: 0;
            padding-top: 72px;
            background-color: $black;
    }
}