#prices {
    width: 100%;
    height: 883px;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .prices-content {
        @include container;

        h2 {
            @include headline-style;
        }
        
        h2 {
            color: white;
            margin-bottom: 22px;
        }

        .divider {
            width: 64px;
            height: 2px;
            line-height: 43px;
            background: $green;
            border-radius: 2px;
            margin-bottom: 27px;
            font-weight: 600;
        }

        p {
            color: white;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }

        .price-container-overall {
            display: flex;
            flex-direction: row;
            column-gap: 40px;
            margin-top: 83px;
            align-items: end;

            .price-container {

                width: 343px;

                .price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: #333333;
                    border-radius: 5px 5px 0px 0px;

                    h3 {
                        line-height: 59px;
                        font-size: 24px;
                        font-weight: 400;
                        color: white;
                    }

                    h4 {
                        line-height: 115px;
                        color: white;
                        font-size: 94px;
                        font-weight: 400;


                        span {
                            font-size: 40px;
                        }
                    }

                    p {
                        line-height: 51px;
                        opacity: 0.5;
                        font-weight: 400;
                    }
                }

                .big-divider {
                    height: 6px;
                    width: 100%;
                    background: $green;
                }

                .big-divider-pop {
                    height: 40px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 400;
                }

                ul {
                    list-style: none;
                    text-align: center;
                    line-height: 40px;
                    background: white;
                    border-radius: 0px 0px 5px 5px;
                    color: $fontgrey;
                }
            }
        }
    }
}