#socials {
    height: 105px;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 3px #00000061;

    .social-container {
        width: 1400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .aboutsocial {
            width: 394px;
            margin-left: 147px;

            h3 {
               font-size: 20px;
               line-height: 24px;
               color: #333333; 
               margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                color: $fontgrey;
                line-height: 20px;
            }
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-right: 148px;


        i{
            font-size: 30px;
            text-decoration: none;
            color: $orange;
            opacity: 65%;
            transition: 0.3s ease-in-out;

            &.fa-solid {
                transform: rotate(45deg) translate(0, 15%);

                &:hover {
                    transform: rotate(45deg) translate(0, 15%) scale(1.2);
                }
            }

            &:hover {
                cursor: pointer;
                opacity: 100%;
                transform: scale(1.2);
            }
        }
    }
}