    #swiper {
        width: 100%;
        height: 591px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .swiper-content {
            width: 100%;
            max-width: 1400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 148px;

            h2 {
                font-size: 36px;
                text-transform: uppercase;
                color: $black;
                text-align: center;
                margin-bottom: 31px;
            }
    
            .divider {
                width: 64px;
                height: 2px;
                background: $blue;
                border-radius: 2px;
                margin-bottom: 58px;
            }

            .swiper {
                width: 100%;
                height: 350px;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                }
              }

              .swiper-pagination-bullet {
                background: transparent;
                border: 1px $orange solid;
                width: 10px;
                height: 10px;
                opacity: 1;
              }

              .swiper-pagination-bullet-active {
                background: $orange;
              }

              

            .review {
                display: flex;
                flex-direction: column;
                row-gap: 20px;


                p {
                    width: 273px;
                    min-height: 147px;
                    background: $blue;
                    border-radius: 8px;
                    color: white;
                    font-size: 16px;
                    line-height: 22px;
                    padding: 20px;
                    font-weight: 400;
                }

                .customer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 17px;

                    .profile-pic {
                        background: url(../images/avatar_2_u231.png);
                        border-radius: 70px;
                        width: 70px;
                        height: 70px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            border: 28px solid transparent;
                            border-top: 28px solid $blue;
                            right: 8%;
                            top: -51%; 
                        }

                        
                    }

                    .customer-info {


                        h3 {
                            font-size: 20px;
                            line-height: 24px;
                            color: #333333;
                            font-weight: 400;
                        }

                        h4 {
                            font-size: 14px;
                            color: $fontgrey;
                            font-weight: 400;
                        }
                    }
                }
            }
    }
}